/* 页脚透明 */

#footer {
    background: transparent !important;
}

/*页脚a标签字体颜色*/
#footer-wrap a {
    color: #00c4b6;
}

/*移动端优化：去除归档、标签、最新文章、公告、、只保留网站统计*/

@media screen and (max-width: 800px) {
    #aside_content div:not(:last-child) {
        display: none;
        font-size: 13px;
    }
}


/* a标签默认颜色 */

#article-container a {
    color: #00c4b6;
    text-decoration: none;
}

/* 鼠标悬停时的颜色 */

#article-container a:hover {
    color: #e58a8a;
    text-decoration: none;
}

/*a标签颜色*/
a {
    color: #00c4b6;
}

/* 版权链接去掉下划线 */

.layout_post .post-copyright .post-copyright-info a {
    text-decoration: none;
}